html {
    font-family: sans-serif;
    text-size-adjust: 100%;
    height: auto;
}
body {
    background: #1c1e26 no-repeat center top;
    color: rgba(255, 255, 255, 0.84);
}
body {
    font-family: "Object Sans", "Arial", "Helvetica", "Segoe UI Symbol", "Segoe MDL2 Assets", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.inner{
    position: relative;
    width: 100%;
    padding: 24px 0;
    background: none;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 38px auto;
}
.content{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: -30px;
}
.buttons_first{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.buttons_first button {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 13px;
    border-radius: 4px;
    margin: 12px;
    border: none;
    
}
.buttons_first img{
    width: 20px;
    height: 20px;
}
.buttons_second img{
    width: 18px;
    height: 18px;
}
.buttons_second{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}
.buttons_second button {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 13px;
    border-radius: 4px;
    margin: 12px;
    border: none;               
}
.facebook button{
    background-color: #1877f2;
}
.xbox button{
    background-color: #107c10;
}
.nintendo button{
    background-color: #e60012;
}
.ps button{
    background-color: #0070cc;
}

.google button:hover{
    background-color: rgb(190, 190, 190);
    transition: 0.3s;
}
.facebook button:hover{
    background-color: rgb(70, 70, 198);
    transition: 0.3s;
}
.apple button:hover{
    background-color: rgb(190, 190, 190);
    transition: 0.3s;
}
.steam button:hover{
    background-color: rgb(190, 190, 190);
    transition: 0.3s;
}
.xbox button:hover{
    background-color:rgb(7, 70, 7) ;
    transition: 0.3s;
}
.ps button:hover{
    background-color: rgb(35, 35, 114);
    transition: 0.3s;
}
.nintendo button:hover{
    background-color:rgb(155, 2, 2) ;
    transition: 0.3s;
}




.registration{
    margin: 40px 0 24px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-transform: none;
    font-family: "Noto Sans", "Object Sans", sans-serif;
}

.registration span:after {
    margin-top: -10px;
    margin-left: 25px;
    width: 125px;
    content: "";
    height: 1px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
}
.registration span::before{
    margin-top: -10px;
    margin-left: -145px;
    width: 125px;
    content: "";
    height: 1px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
}






.input_text{
    display: flex;
    vertical-align: middle;
    height: 40px;
    padding: 0px 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    background-color: #171920;
    color: #ffffff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 413px;
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin-left: 5px;


}
.input_text input{
    background-color: #171920;
    border: none;
    resize: none;
    word-wrap: break-word;
    outline: none;
    color:white;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    margin-left: 4px;
}
.input_text ::placeholder{
    color:rgb(164, 159, 159);
}
.input_password ::placeholder{
    color:rgb(164, 159, 159);
}
.input_password{
    display: flex;
    vertical-align: middle;
    height: 40px;
    padding: 0px 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    background-color: #171920;
    color: #ffffff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 413px;
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
}

.password{
    background-color: #171920;
    border: none;
    resize: none;
    word-wrap: break-word;
    outline: none;
    color:white;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    margin-left: 4px;
    
}
.input_password:hover{
    border: 1px solid #fff;
    border-radius: 4px;
}
.input_text:hover{
    border: 1px solid #fff;
    border-radius: 4px;
}



.btn{
    white-space: normal;
    margin: 3px 0;
    font-size: 16px;
    line-height: 20px;
    min-height: 40px;
    background-color: #0074E0;
    color: #ffffff;
    border: 2px solid transparent;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 26px;
    margin-top: 38px;
    margin-left: 5px;
    
}
.btn button{
    color:white;
    background-color:#0074E0;
    border:  none;
    font-size: 15px;
    padding: 0px 150px;
    margin-top: 10px;
}
.links a{
    color: #148eff;
    text-decoration: none;
    font-size: 16px;
    padding: auto;
}
.links a:hover{
    text-decoration: underline;

}

.links{
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0 0 39.6px 30px;
    padding-right: 5px;
    margin-top: 35px;
    margin-left: 5px;
}

.footer{
    margin-top: 40px;
}
.footer_links span{
    color:rgb(67, 67, 67);

}
.footer_links{
    text-align: center;
    margin-left: 5px;

}
.footer_links a{
    text-decoration: none;
    font-size: 12px;
    padding: auto;
    color: rgba(255, 255, 255, 0.7);
    transition: text-shadow 160ms ease, color 160ms ease;
}
.footer_links a:hover{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.footer_text{
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: #7b7b7b;
    margin-left: 5px;

}